@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.avatar {
    width: 264px;

    @include media-breakpoint-down(sm) {
        max-width: 27.4vw;
    }
}

.bio {
    @include media-breakpoint-down(sm) {
        font-size: 3.4vw !important;
    }
}
