@import "ClientApp_variables";
@import "node_modules/bootswatch/dist/vapor/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/vapor/bootswatch";

body {
    background-repeat: no-repeat;
    background-color: shade-color(#173e98, 50%);
    background-image: linear-gradient(
        shade-color($body-bg, 10%) 0%,
        $body-bg 4%,
        $body-bg 12%,
        shade-color(#173e98, 50%) 100%
    );
}

#main {
    max-width: 600px;
    min-height: 100vh;
}
